@media screen and (min-width: 500px) {
    header {
        background-color: #000; /* Black Background */
        color: #fff; /* White Text */
    }

    main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
