body {
    font-family: 'Poppins', sans-serif;
    background-color: #4caf50;
    color: #1565c0;
    margin: 0;
}

main {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
}

.form-container,
#membershipBenefits {
    flex: 1;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-left: 10px;
}

form {
    max-width: 100%;
}

form label {
    display: block;
    margin-bottom: 8px;
}

form input,
form select,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 31.5px;
    box-sizing: border-box;
    
}

#membershipBenefits {
    text-align: left;
}

.membership-level {
    margin-bottom: 20px;
   
}

header {
    background-color: #1565c0;
    color: #ffffff;
    text-align: center;
    padding: 1rem;
}

nav {
    background-color: #4caf50;
    padding: 0.5rem;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: #ffffff;
}

footer {
    background-color: #1565c0;
    color: #ffffff;
    padding: 1rem;
    text-align: center;
}

/* ... (previous styles) */
