/* Common styles for all screen sizes */

/* Larger screen styles */
@media screen and (min-width: 768px) {
    body {
        font-size: 18px;
    }

    header {
        padding: 2rem;
        background-color: #1565c0;
        color: #ffffff;
    }

    nav {
        padding: 1rem;
    }

    main {
        padding: 2rem;
    }

    .hero {
        height: 80vh;
    }

    .hero-content {
        font-size: 2em;
    }

    .cta-button {
        font-size: 1.2em;
        padding: 15px 30px;
    }

    .current-events,
    .weather-info,
    .company-spotlights {
        padding: 30px;
        background-color: #f0f0f0;
        border-radius: 10px;
        text-align: center;
    }

    footer {
        padding: 2rem;
        background-color: #1565c0;
        color: #ffffff;
        text-align: center;
    }
}
